<%=link_to "Карта", payments_path %>
<%=link_to "Редактировать профиль", edit_user_registration_path %>
<% if user_signed_in? && @user.admin %>
  <%= link_to "Админ панель", :admin %>
<% end %>

<h2>Welcome!</h2>
<p><%=@user.first_name %></p>
<p><%=@user.last_name %></p>
<p><%=@user.email %></p>
<p><%=@user.balance %></p>
